{
    "presets": [
        "env",
        "react"
    ],
    "plugins": ["transform-object-rest-spread"],
    "env": {
        "node": {
            "plugins": [
                [
                    "babel-plugin-transform-require-ignore",
                    {
                        "extensions": [".css", ".scss"]
                    }
                ]
            ]
        }
    }
}
