{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react",
        "jest",
        "json"
    ],
    "rules": {
        "comma-dangle": [
            2,
            "never"
        ],
        "no-undef": 2,
        "semi": 2,
        "valid-jsdoc": 0,
        "require-jsdoc": 0,
        "padded-blocks": 0,
        "max-len": [1, 120],
        "indent": [2, 4],
        "jsx-a11y/href-no-hash": 0,
        "import/no-dynamic-require": 0,
        "import/newline-after-import": 0,
        "import/prefer-default-export": 0,
        "react/prefer-stateless-function": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": 0,
        "react/forbid-prop-types": 0,
        "react/jsx-no-bind": 0,
        "react/jsx-no-target-blank": 0,
        "react/jsx-indent-props": 0,
        "react/no-array-index-key": 0
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "jest/globals": true,
        "browser": true,
        "node": true
    }
}
