img.full-width {
    width: 100%;
}

.image-fade-appear {
    opacity: 0.01;
    cursor: pointer;

    &.image-fade-appear-active {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
}

.row-spacing {
    padding: 1px;
}