<!DOCTYPE html>
<html lang="en">
    <%- head %>
    <body class="container">
        <div id="content"><%- content %></div>
        <script src="<%- cdn_path %>bundle.js"></script>
    </body>
</html>