<!DOCTYPE html>
<html lang="en">
    <%- head %>
    <body>
        <div id="content"><%- content %></div>
        <script type="text/javascript">
            window.APP_PROPS = '<%- app_props %>';
        </script>
        <script src="<%- static_path %>bundle.js"></script>
    </body>
</html>