$nav-height: 60px;

.navbar {
    .navbar-brand {
        height: $nav-height;
        padding: $nav-height/3;
        font-size: $nav-height/3;
    }

    @media (min-width: 768px) {
        .navbar-nav > li > a {
            padding-top: $nav-height/3;
        }
    }
}

.main-content {
    padding-top: $nav-height;
}